---
layout: default
title: DataSF - the open data program of the City and County of San Francisco
js: home.js
---
<section id="jumbo-search" class="jumbotron jumbotron-default">
	<div class="container">
		<h1>Find the data you need</h1>
		<p>Search hundreds of datasets from the City and County of San Francisco. Or browse on the <a href="https://data.sfgov.org" class="ext-sf-opendata">data catalog</a></h2>
			<div class="row">
				<div class="col-md-12">
					<form action="https://data.sfgov.org/data" role="form" class="form-inline">
						<input id="search-catalog-input" class="search-input form-control" type="text" name="search" placeholder="Search for things like Crime, 311 cases, lobbyists, etc." autocomplete="off">
						<button type="submit" class="fa fa-search" id="search-submit" value="Search"></button>
					</form>
				</div>
			</div>
	</div>
</section>
<section id="data-love" class="thinnest-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				Data, for the <i class="fa fa-heart"><span class="sr-only">love</span></i> of the City. <a href="/about" style="color:white;text-decoration: underline;">Read more about DataSF</a>.
			</div>
		</div>
	</div>
</section>
<section id="progress" class="thin-section">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div id="chart0" class="chart">

				</div>
			</div>
			<div class="col-md-4">
				<div id="stat-total-published" class="stat-text"><span class="stat-number">333</span> Published Datasets</div>
			</div>
			<div class="col-md-5">
				<a href="{{site.baseurl}}/progress" class="btn btn-default">Track our progress</a>
				<a href="{{site.baseurl}}/publishing/plans" class="btn btn-default">Read the publishing plans</a>
			</div>
		</div>
	</div>
</section>
<div class="content-sections">
	<section id="featured-showcase">
		<div class="container">
			<div class="row featured-showcase">
				<div class="col-md-12">
					<h1>Made with Open Data</h1>
					<p>See applications, reports, analyses and other products made with open data below. You can explore <a href="http://apps.sfgov.org/showcase">more in the showcase</a>.</p>
				</div>
				<div class="col-md-4">
					<a href="http://housing.datasf.org/">
						<div style="position: relative; background: url('/assets/showcase/housing-data-hub/housing-hub-screen.png'); height: 250px; background-origin: border-box; background-size: cover;" class="showcase-item">
							<div style="position: absolute; bottom: 0; right: 0; width: 100%; background: rgba(255,255,255,.8);" class="showcase-title">
								<h2 style="text-align: right;">Housing Data Hub</h2></div>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="http://propertymap.sfplanning.org/">
						<div style="position: relative; background: url('/assets/showcase/property-information-map/pim.png'); height: 250px; background-origin: border-box; background-size: cover;" class="showcase-item">
							<div style="position: absolute; bottom: 0; right: 0; width: 100%; background: rgba(255,255,255,.8);" class="showcase-title">
								<h2 style="text-align: right;">Property Information Map</h2></div>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="http://explore311.sfgov.org/main//">
						<div style="position: relative; background: url('/assets/showcase/311-explorer/311explorer.png'); height: 250px; background-origin: border-box; background-size: cover;" class="showcase-item">
							<div style="position: absolute; bottom: 0; right: 0; width: 100%; background: rgba(255,255,255,.8);" class="showcase-title">
								<h2 style="text-align: right;">311 Explorer</h2></div>
						</div>
					</a>
				</div>
			</div>
		</div>
</section>
<section id="stories" class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>DataSF Speaks</h1>
				<p>Latest blog posts and stories from the City and County's open data program. Read more blog posts here.</p>
				<div class="row">
					{% include stories-iterator-horizontal.html posts=site.categories.blog limit=3%}
				</div>
			</div>
		</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Latest resources</h1>
				<p>For more resources <a href="/resources">click here</a> {% assign postquery = site.categories.resource %} {% for post in postquery limit:3 %} {% assign loopindex = forloop.index | modulo: 3 %} {% if loopindex == 1 %}
					<div class="row">
						{% endif %} {% include resources-card.html %} {% if loopindex == 0 or forloop.last %}
					</div>
					{% endif %} {% endfor %}
			</div>
		</div>
	</div>
</section>
