---
layout: default
title: San Francisco Open Data
index: catalog
subnav: true
js: opendata.js
---

<section id="jumbo-search" class="jumbotron jumbotron-default">
	<div class="container">
		<h1>San Francisco Open Data</h1>
		<p>Data is provided by San Francisco City and County departments. It is free to use. Search for data, Learn how to <a href="https://data.sfgov.org/videos#basic-filtering" class="ext-sf-opendata">filter and sort </a>, or email support@datasf.org with questions.
			<div class="row">
				<div class="col-md-12">
					<form action="https://data.sfgov.org/browse" role="form" class="form-inline">
						<input id="search-catalog-input" class="search-input form-control" type="text" name="q" placeholder="Search for things like Crime, 311 cases, lobbyists, etc." autocomplete="off" style="width:100%" />
						<button type="submit" class="fa fa-search" id="search-submit" value="Search"><span class="sr-only">Search</span></button>
					</form>
				</div>
			</div>
	</p></div>
<!--</section>
<!--<section class="thin-section" style="background-color: #c9563a;">
	<!--<div class="container">
		<!--<div class="row">
			v<div class="col-md-12 text-center">
				<!--<img src="https://sf.gov/themes/custom/sfgovpl/src/img/info-white.svg" aria-label="Alert"/><a href="https://data.sfgov.org/browse?category=COVID-19" style="color: white; text-decoration: underline; font-weight: bold; padding-left: 20px;">Get the latest COVID-19 data</a>
			<!--</div>
		<!--</div>
	<!--</div>
	<!--</section>
	<!-- 
<section id="data-love" class="thinnest-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				Data, for the <i class="fa fa-heart" aria-hidden="true"><span class="sr-only">love</span></i> of the City. <a href="/about" style="color:white;text-decoration: underline;">Read more about DataSF</a>.
			</div>
		</div>
	</div>
</section>-->
	<!-- 
<section id="progress" class="thin-section">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div id="chart0" class="chart">

				</div>
			</div>
			<div class="col-md-4">
				<div id="stat-total-published" class="stat-text"><span class="stat-number editable">538</span> Published Datasets</div>
			</div>
			<div class="col-md-5">
				<a href="{{site.baseurl}}/progress" class="btn btn-default">Track our progress</a>
				<a href="{{site.baseurl}}/publishing/plans" class="btn btn-default">Read the publishing plans</a>
			</div>
		</div>
	</div>
</section>-->
 <!-- <section id="announcement" class="bg-light-gray">-->
	<!--<div class="container">-->
	<!--	<div class="row">-->
	<!--		<div class="col-md-12">-->
	<!--			<h1>Apply to join the next DataScienceSF cohort!</h1>-->
	<!--				<p>DataScienceSF is a free service provided by DataSF to help departments harness the power of advanced analytics and achieve more with their existing resources and processes. Applications for Cohort 5 are open from August 1 to through October 7. Find out <a href="http://datasf.org/science">more!</a><br />-->
	<!--				</p>-->
	<!--		</div>-->
	<!--	</div>-->
	<!--</div>-->
	<!--</section>-->
<!--<div class="content-sections">
	<!--<section id="featured-showcase">
		<!--<div class="container">
			<!--<div class="row featured-showcase">
				<!--<div class="col-md-12">
					<!--<h1>Made with Open Data</h1>
					<!--<p>See applications, reports, analyses and other products made with open data below. You can explore <a href="http://apps.sfgov.org/showcase">more in the showcase</a>.<br />
					<!--</p>
				<!--</div>
				<!--<div class="col-md-4">-->
				<!--	<a href="https://datasf.org/sf-building-explorer">-->
				<!--		<div style="position: relative; background: url('/assets/showcase/building-explorer/building-app.png'); height: 250px; background-origin: border-box; background-size: cover; margin-bottom:20px">-->
				<!--			<div style="position: absolute; bottom: 0; right: 0; width: 100%; background: rgba(255,255,255,.8);" class="showcase-title">-->
				<!--				<h2 style="text-align: right;">SF Building Explorer</h2></div>-->
				<!--		</div>-->
				<!--	</a>-->
				<!--</div>-->
				<!--<div class="col-md-4">
					<!--<a href="http://propertymap.sfplanning.org/">
						<!--<div style="position: relative; background: url('/assets/showcase/property-information-map/pim.png'); height: 250px; background-origin: border-box; background-size: cover; margin-bottom:20px">
							<!--<div style="position: absolute; bottom: 0; right: 0; width: 100%; background: rgba(255,255,255,.8);" class="showcase-title">
								<!--<h2 style="text-align: right;">Property Information Map</h2></div>
						<!--</div>
					</a>
				</div>
			</div>
		</div>
</section>
<section id="stories" class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>DataSF Speaks</h1>
				<p>Latest blog posts and stories from DataSF. <a href="/blog">Read more of our stories on our blog</a>.</p>
				<div class="row">
					{% include stories-iterator-horizontal.html posts=site.categories.blog limit=3%}
				</div>
			</div>
		</div>
</div></section>
<!--
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Latest resources</h1>
				<p>For more resources <a href="/resources">click here</a> {% assign postquery = site.categories.resources %} {% for post in postquery limit:3 %} {% assign loopindex = forloop.index | modulo: 3 %} {% if loopindex == 1 %}
					<div class="row">
						{% endif %} {% include resources-card.html %} {% if loopindex == 0 or forloop.last %}
					</div>
					{% endif %} {% endfor %}
			<p></p></div>
		
	


<section>
	<div class="container">
		<div class="row">
			Masthead image by Cary Bass (Own work) [<a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a>, <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA-3.0</a> or <a href="http://creativecommons.org/licenses/by-sa/2.5-2.0-1.0">CC BY-SA 2.5-2.0-1.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3AGolden_Gate_Bridge_Yang_Ming_Line.jpg">via Wikimedia Commons</a>
		</div>
	</div>
</section>
-->
