---
layout: masthead
title: Data Academy
js: academy.js
icon: graduation-cap
background_image_path: /uploads/academy.jpg
index: academy 
subnav: true
blurb: A training program for City and County of San Francisco staff. Explore, refine and enhance skills in data use, data management and process improvement.
---

<div class="content-sections">
  <section id="data-love" class="thinnest-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			The Data Academy is produced in partnership with the <a style="color: white; text-decoration: underline;" href="http://sfcontroller.org/">Office of the Controller</a>.
			</div>
		</div>
	</div>
</section>
    <!--
  <section id="upcoming-courses" class"bg-light-gray">
  </section>-->
  <section id="catalog" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Course Catalog</h2>
        </div>
        <div class="col-md-3">
          <div id="categories">
            <b>Topics</b>
            <ul class="list-unstyled">
              <li><a href="#" class="filter-topic active" data-filter="*" style="width:100%; display: block;" aria-label="Show all courses">All courses</a></li>
              {% for topic in site.data.course_topics %}
              <li><a href="#" class="filter-topic" style="width:100%; display: block;" data-filter="{{topic.class}}" aria-label="{{topic.name}} Courses"><i class="fa {{topic.icon}}" aria-hidden="true"></i> {{topic.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//datasf.us10.list-manage.com/subscribe/post-json?u=c16d18091b821e3289a7546f9&amp;id=d21cd29252&c=?" method="get" id="mc-embedded-subscribe-form-academy" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <h2 style="font-size: 1.2em;">Sign up to receive course announcements</h2>
                <p>You must sign up with your CCSF work email.</p>
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group form-group">
                  <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                  </label>
                  <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">
                </div>
                <div class="mc-field-group form-group">
                  <label for="mce-FNAME">First Name </label>
                  <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                </div>
                <div class="mc-field-group form-group">
                  <label for="mce-LNAME">Last Name </label>
                  <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
                </div>
                <input type="hidden" value="2" name="group[3949][2]" id="mce-group[3949]-3949-1">
                <div id="mce-responses" class="clear">
                  <div class="response alert alert-error" id="mce-error-response" style="display:none"></div>
                  <div class="response alert alert-success" id="mce-success-response" style="display:none"></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;">
                  <input type="text" name="b_c16d18091b821e3289a7546f9_d21cd29252" tabindex="-1" value="">
                </div>
                <div class="clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
                </div>
              </div>
            </form>
          </div>
          <!--<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>-->
          <!--End mc_embed_signup-->
          <h2 style="font-size: 1.2em; padding-top: 20px;">Additional Resources</h2>
          <a class="btn btn-default btn-block btn-academy-resources" href="https://drive.google.com/file/d/0B3XTBxBQSd0hTFhXX3hwVnNVSW8/view?usp=sharing">
            View the Full Course Catalog
          </a>
          <a class="btn btn-default btn-block btn-academy-resources" href="https://drive.google.com/file/d/0B3XTBxBQSd0hakEwLU9jRzhsbzQ/view?usp=sharing">
            Frequently Asked Questions
          </a>
        </div>
        <div class="col-md-9">
          {% assign grouped_courses = (site.categories.academy | group_by: 'series') %}
          <div id="courseList" class="row">
            {% for courses in grouped_courses %}
              {% if courses.name == "" %}
              {% assign sorted_courses = (courses.items | sort: 'title') %}
              {% else %}
              {% assign sorted_courses = (courses.items | sort: 'order') %}
              {%endif%}
                {% for course in sorted_courses %}
                <div class="col-md-12 course-item {% for subject in course.subjects %} {{subject | slugify | append: ' '}}{% endfor %}">
                  <div class="well">
                    <h4 class="course-name"><a href="{{course.url}}" alt-="View the course page">{{course.title}}</a></h4>
                    <p>{{course.description}}</p>
                    <div class="course-icons">
                      {% for subject in course.subjects %}
                      <span class="fa-stack fa-1x">
                      <i class="fa fa-square course-icon-background fa-stack-2x"></i>
                      <i class="fa icon-{{subject | slugify}} fa-stack-1x fa-inverse"></i>
                    </span> {% endfor %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>