<section id="academy">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-heading-wrapper">
        <h1 class="section-heading bg-line">Data <i class="fa fa-graduation-cap"></i> Academy</h1>
        <p class="section-subheading">A training program for City and County of San Francisco staff</p>
      </div>
      <div class="col-md-8 col-md-offset-2">
      Welcome to the City and County of San Francisco’s Data Academy! Our goal is to help analysts citywide explore, refine, and enhance their skills in data analysis and visualization. We also offer classes for those hoping to increase their comfort working with data. We offer a series of classroom based courses detailed below and have also curated a list of courses offered by other institutions for free or at cost.
    </div>
    </div>
  <div class="row">
    <div class="col-md-9">
      asldjflsaj
    </div>
    <div class="col-md-3">
      Course catalog
    </div>
  </div>
  </div>
</section>