<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top {% if page.is_front != true %} navbar-shrink {% endif %}">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="{{site.baseurl}}/"><span class="brand"><span class="brand-highlight">Data</span>SF</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        {% for link in site.data.navigation.temp_nav %}
          {% assign current = nil %}
          {% if page.dir == link.url %}
            {% assign current = 'active' %}
          {% endif %}
          <li class="{{current}} testing">
            <a class="{{ current }}" href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

{% if page.is_front %}
<!-- Header -->
<header id="header">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">connecting you to city data</div>
      <div id="chart">
      </div>
      <div class="row">
        <div class="col-md-8 pull-right data-blurb">
          <h1>City population by decade</h1>
          <p>San Francisco is a dynamic place that has seen cycles of growth and decline like many cities in the U.S. Read more about what the data tells us about housing and population in San Francisco on the Housing Policy Hub</p>
          <p>Click for more >></p>
        </div>
      </div>
    </div>
  </div>
</header>
{% endif %}
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->