<div class="row">
	<div class="col-xs-12">
	<h2 id="quicktips">Dataset Inventory Tips</h2>
  <h3>Step 1: Identify Data Sources</h3>
  <p>Your data may be housed in a variety of places – from inside information systems or databases to shared drives and folders. This can also include 3rd partner vendors and data hosted on vendor systems. Step 1 is about identifying the major data sources in your department.</p>
  <ul>
    <li><strong>Guidebook:</strong> See section 3, Step 1 in <a href="https://docs.google.com/document/d/1CJ2uZSYEYcPb6bpcr24kcRCV0zDN-9xYE-o7FA23EMk/edit?usp=sharing">DC guidebook</a> for tips and advice.</li>
    <li><strong>Download:</strong> <a href="https://drive.google.com/uc?export=download&id=0B3XTBxBQSd0hYzJTTUY1TzMwcjA">the inventory template (Excel)</a>.</li>
    </li>
    <li><strong>Template Directions:</strong> Complete the first&nbsp;tab (Step 1 Data Sources) in the template.</li>
    <li><strong>Definition of a data source:</strong> Technology or system that stores data, including databases, named spreadsheets, information systems, business applications, etc.</li>
  </ul>
  <h3>Step 2:&nbsp;Brainstorm and identify potential datasets in each data source</h3>
  <p>Some of your information sources may be fairly straightforward (e.g. a single sheet in a spreadsheet) or already published. In these cases, you have already identified the dataset. But others, like relational databases, may be very complex. Identifying subsets of the database that could serve as datasets, probably requires some brainstorming.</p>
  <ul>
    <li><strong>Guidebook:</strong> See section 3, Step 2 in <a href="https://docs.google.com/document/d/1CJ2uZSYEYcPb6bpcr24kcRCV0zDN-9xYE-o7FA23EMk/edit?usp=sharing">DC guidebook</a> for tips and advice.</li>
    <li><strong>Template Directions:</strong>&nbsp;Use the list of data sources in Step 1 to help with your brainstorming. You can start to capture draft dataset names, descriptions, etc in tab 2 (Step 2 Brainstorm).</li>
    <li><strong>Definition of a dataset:&nbsp;</strong>Contents of a single database table, worksheet or defined view; data is provided as a single combination of unique rows (or records) and corresponding columns (or fields) describing that row.
      <ul>
        <li><strong>Example – Database:</strong> A database may contain several data tables – each data table constitutes a dataset. However, you could also create new datasets by combining data from different tables into a new table.</li>
      </ul>
    </li>
  </ul>
  <h3>Step 3: Complete dataset inventory template</h3>
  <p>For each dataset, complete the data inventory template.</p>
  <ul>
    <li><b>Guidebook: </b>See section 3, Step 3 in <a href="https://docs.google.com/document/d/1CJ2uZSYEYcPb6bpcr24kcRCV0zDN-9xYE-o7FA23EMk/edit?usp=sharing">DC guidebook</a> for tips and advice.</li>
    <li><b>Template Directions: </b>Complete the questions in tab 3 (Step 3 Dataset Inventory) for each&nbsp;datasets. Include all datasets in single worksheet, if possible.</li>
    <li><b>Example:&nbsp;</b><a href="https://docs.google.com/spreadsheets/d/1a6R-zBGoaA3qhYm67X0G-XdUhoEV9vR3VJePDd5a-iE/edit?usp=sharing">View example answers for rent board.</a>
    </li>
  </ul>
</div>
</div>