<section id="search-catalog" class="bg-dark-blue thin-section">
	<div class="container">
		<div class="row">
		<h1>Looking for data?</h1>
		<p class="section-subheading">Start with a search or browse on our <a href="https://data.sfgov.org">data catalog</a></h2>
			<form action="https://data.sfgov.org/data" role="form" class="form-inline">
				<input type="text" name="search" placeholder="e.g. Crime, 311 cases, lobbyists, etc.">
				<button type="submit">Search</button>
			</form>
		</div>
	</div>
</section>