<!-- Stories List Section -->
<section id="stories" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading-wrapper">
        <h1 class="section-heading bg-line">DataSF <i class="fa fa-bullhorn"></i> Speaks</h1>
        <p class="section-subheading text-muted">Our blog and stories</p>
      </div>
      <div class="col-md-8">
        {% for post in site.posts %} {% if post.categories contains "blog" %}
        <div class="story-item">
          <div class="story-caption clearfix">
            {% if post.image.thumb %}
            <div class="block-image pull-right" style="background-image:url({{site.baseurl}}/img/blog/{{post.image.thumb}});"></div>
            {% endif %}
            <time datetime="{{ post.date | date: " %Y-%m-%d " }}" itemprop="datePublished">
              {{ post.date | date: "%B %d, %Y" }}
            </time>
            <a href="{{site.baseurl}}{{post.url}}"><h4>{{post.title}}</h4></a>
            <p class="text-muted">{{ post.description }}</p>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
      <div class="col-md-4">
        <a class="twitter-timeline" href="https://twitter.com/DataSF" data-widget-id="559899210959421440">Tweets by @DataSF</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
  </div>
</section>