<!-- Stories List Section -->
<div class="row">
  <div class="col-lg-12 story-sidebar">
    <h3 class="sidebar-heading color-primary">Other stories</h3> 
    {% for post in site.posts limit 5 %} 
    {% if post.categories contains "blog" and post.path != page.path %}
    <div class="story-item">
      <div class="story-caption clearfix">
        <time datetime="{{ post.date | date: " %Y-%m-%d " }}" itemprop="datePublished">
          {{ post.date | date: "%B %d, %Y" }}
        </time>
        <a href="{{site.baseurl}}{{post.url}}"><h4>{{post.title}}</h4></a>
      </div>
    </div>
    {% endif %} 
    {% endfor %}
  </div>
</div>