{% for post in include.posts limit:include.limit%}
<div class="story-item">
  <div class="story-caption clearfix">
    {% if post.image.thumb %}
    <div class="block-image pull-right" style="background-image:url(/assets/blog/{{post.image.thumb}});"></div>
    {% endif %}
    <time datetime="{{ post.date | date: " %Y-%m-%d " }}" itemprop="datePublished">
      {{ post.date | date: "%B %d, %Y" }}
    </time>
    <a href="{{site.baseurl}}{{post.url}}"><h4>{{post.title}}</h4></a>
    <p class="text-muted">{{ post.description }}</p>
  </div>
</div>
{% endfor %}