<div class="entry-content">
  <h3>Wave 1 Data Coordinators</h3>
  <div class="table-responsive">
    <table style="width:100%; " class="easy-table easy-table-default " border="0">
      <thead>
        <tr>
          <th>No.</th>
          <th>To Do</th>
          <th>Deadline</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width:30px">1</td>
          <td>Identify data sources</td>
          <td>August 15</td>
          <td>DCs</td>
        </tr>

        <tr>
          <td style="width:30px">2</td>
          <td>Brainstorm and identify potential datasets in each data source</td>
          <td>November 15th</td>
          <td>DCs</td>
        </tr>

        <tr>
          <td style="width:30px">3</td>
          <td>Complete dataset inventory template</td>
          <td>December 15th</td>
          <td>DCs</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3>Wave 2 Data Coordinators</h3>
  <div class="table-responsive">
    <table style="width:100%; " class="easy-table easy-table-default " border="0">
      <thead>
        <tr>
          <th>No.</th>
          <th>To Do</th>
          <th>Deadline</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width:30px">1</td>
          <td>Identify data sources</td>
          <td>December 19th</td>
          <td>DCs</td>
        </tr>

        <tr>
          <td style="width:30px">2</td>
          <td>Brainstorm and identify potential datasets in each data source</td>
          <td>January 30th</td>
          <td>DCs</td>
        </tr>

        <tr>
          <td style="width:30px">3</td>
          <td>Complete dataset inventory template</td>
          <td>March 13th</td>
          <td>DCs</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>