---
layout: default
title: 'DataSF | Resource Library'
background_image_path: /uploads/library.jpg
image_source:
  title: library books
  link: https://www.flickr.com/photos/timetrax/376152628
  author: timetrax23
  author_link: https://www.flickr.com/photos/timetrax/
  license: CC BY-SA 2.0
  license_link: https://creativecommons.org/licenses/by-sa/2.0/
index: resources
subnav: true
js: resources.js
lunr: true
blurb: Browse resources produced by DataSF. You can browse by resource collection or search for a specific resource.
---
<div class="masthead" style="height: 200px; color: white; background: #333 url({{page.background_image_path}}) 50% 50% no-repeat; position:relative; background-position: right;">
  <div class="darkener"></div>
  <div class="left-cover"></div>
  {% if page.image_source %}
  <div class="masthead-attribution" style="z-index: 5; position: absolute; bottom:0; right: 30px;">
    <figcaption style="color:white;">
      <a href="{{page.image_source.link}}">{{ page.image_source.title }}</a> by <a href="{{page.image_source.author_link}}">{{page.image_source.author}}</a> licensed under <a href="{{page.image_source.license_link}}">{{page.image_source.license}}</a>
    </figcaption>
  </div>
  {% endif %}
  <div class="container" style="z-index: 4; position: relative;">

    <div class="row">
      <div class="col-xs-12">
        <h1 style="color: white; margin-top: 30px;"><i class="fa fa-book" aria-hidden="true"></i> Resource Library</h1>
        <div class="blurb" style="max-width: 450px; margin-top: 25px;">
          <p>{{page.blurb}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
  
</div>
<section id="resources-section">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul class="nav nav-tabs nav-resources">
          <li role="presentation" class='active js-click-tab data-collections'><a href="#collections">By Collection</a></li>
          <li role="presentation" class='js-click-tab data-resources'><a href="#all">Search all Resources</a></li>
        </ul>
        <div id='resources' style='display:none;'>
          <h2>Resources</h2>
          <div class="form-group" style="position:relative;">
            <label for="search">Search for specific resources</label>
            <input type="text" class="form-control" id="search" placeholder="Enter search terms here, list will populate as you type">
            <i class="fa fa-times-circle clear-filter-button js-clear-input" aria-hidden="true" style='display:none;'><span class="sr-only">clear filter</span></i>
          </div>
          <div id='results'></div>
        </div>
        <div id='topics'>
          <h2>Collections</h2>
          <p>Collections are bundles of related resources. You can search for specific resources above or click into any of the collections below.</p>
          {% assign sorted_topics = site.resource_topics | sort: 'title' %}
          {% for topic in sorted_topics %}
          <div class="resource-card well">
            <h3><a href="{{topic.url}}">{{ topic.title }}</a> <small>{{topic.resources_list.size}} resource{% if topic.resources_list.size > 1 %}s{%endif%}</small></h3>
            <p>{{ topic.description }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-3">
        
      </div>
    </div>
    <div class="row hidden">
      <div class="col-sm-12">
        <h2>All Resources</h2>
        <table id="resources-table">
          <thead>
            <tr>
              <td>Topic</td>
              <td>Type</td>
              <td>Resource Name</td>
              <td>Description</td>
              <td>Download/Open</td>
          </thead>
          <tbody>
        {% for topic in sorted_topics %}
         {% for resource in topic.resources_list %}
         <tr>
         <td><a href="{{topic.url}}">{{ topic.title }}</a></td>
         <td>{{ resource.resource_type }}</td>
         <td>{{ resource.name }}</td>
         <td>{{ resource.description }}</td>
         <td>
           {% for link in resource.links %}
             <a href="{{link.link}}">{{link.media_type}}</a>
             {% unless forloop.last %}<br/>{% endunless %}
          {% endfor %}
          </td>
         </tr>
         {% endfor %}
        {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
</section>