---
layout: default
title: DataSF | Resources
---

<section id="resources">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-heading-wrapper">
        <h1 class="section-heading bg-line">Resource <i class="fa fa-book"></i> Library</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>Topics</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% assign sorted_topics = site.resource_topics | sort: 'title' %}
        {% for topic in sorted_topics %}
        <div class="">
          <h3><a href="{{topic.url}}">{{ topic.title }}</a> <small>{{topic.resources_list.size}} resources</small></h3>
          <p>{{ topic.description }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>All Resources</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table>
          <thead>
            <tr>
              <td>Topic</td>
              <td>Type</td>
              <td>Resource Name</td>
              <td>Description</td>
              <td>Download/Open</td>
          </thead>
          <tbody>
        {% for topic in sorted_topics %}
         {% for resource in topic.resources_list %}
         <tr>
         <td>{{ topic.title }}</td>
         <td>{{ resource.resource_type }}</td>
         <td>{{ resource.name }}</td>
         <td>{{ resource.description }}</td>
         <td>
           {% for link in resource.links %}
             <a href="{{link.link}}">{{link.media_type}}</a>
             {% unless forloop.last %}<br/>{% endunless %}
          {% endfor %}
          </td>
         </tr>
         {% endfor %}
        {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
</section>