---
layout: default
title: About
---
<!-- About Section -->
<section id="mission" style="background-color: #D5ECF7">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
        <h1 class="section-heading">Our Mission</h1>
        <p style="color: #245f7b; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1.8em; margin: 0;">To empower the use of data in decision making and service delivery.</p>
      </div>
    </div>
  </div>
</section>
<section id="stories" class="thinnest-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <h2 class="services__title">How We Can Help</h2>
          <h3 class="services__subtitle">Services for City Departments</h3>
      </div>
    </div>
    <div class="row services__panels" style="padding-top: 10px;">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading" style="min-height: 98px;">
            <img src="/assets/img/data_sharing.png" style="width: 80px; float: left; margin-right: 10px;" class="clearfix"/>
            <h4 class="panel-title">Data Sharing</h4>
            <p style="margin-bottom: 0">Make timely data available for use</p>
          </div>
          <div class="panel-body">
              <p>Open data publishing provides access to a governed, shared platform for the easy sharing of data. During the publishing process, departments gain access to a suite of services: data transformations, automation services, and handling of sensitive or protected data.</p>
              <a class="btn btn-default btn-block" href="/publishing">Submit a dataset to share</a>
          </div>
          <div class="panel-heading panel-heading-secondary">
            <h5 class="panel-title">Learn More</h5>
          </div>
          <div class="panel-body">
            <ul>
              <li><a href="https://datasf.org/publishing/submission-guidelines/">Dataset submission guidelines</a></li>
              <li><a href="https://datasf.org/publishing/services/">Data automation services</a></li>
              <li><a href="https://docs.google.com/document/d/1MhvEuGKFuGY2vLcNqiXBsPjCzxYebe4dJicRWe6gf_s/edit">Handling sensitive and protected data through the open data release toolkit</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading" style="min-height: 98px">
            <img src="/assets/img/dashboards.png" style="width: 80px; float: left; margin-right: 10px;" class="clearfix"/>
            <h4 class="panel-title">Dashboarding</h4>
            <p style="margin-bottom: 0">Tell stories, support decisions with data</p>
          </div>
          <div class="panel-body">
            <p>DashboardSF is a collection of support services designed to help departments use PowerBI to automate manual reporting and create reports that lead to service change. PowerBI is an enterprise data wrangling, reporting, and visualization tool available to CCSF analysts.</p>
              <a class="btn btn-default btn-block" href="https://docs.google.com/forms/d/1KgDPIXlXAJJWz2BcVPMHF8DLgU3Z6cyra_JOiMnIKNA/viewform?entry.1562192740&amp;entry.1369880909=Intro to Power BI">Sign up for Intro to PowerBI</a>
          </div>
          <div class="panel-heading panel-heading-secondary">
            <h5 class="panel-title">Learn More</h5>
          </div>
          <div class="panel-body">
            <ul>
              <li><a href="">More about DashboardSF program</a></li>
              <li><a href="https://datasf.org/resources/power-bi/">Resources and guides about PowerBI</a></li>
              <!--<li><a>PowerBI showcase</a></li>-->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading" style="min-height: 98px;">
            <img src="/assets/img/data_science.png" style="width: 80px; float: left; margin-right: 10px;" class="clearfix"/>
            <h4 class="panel-title">Data Science</h4>
            <p style="margin-bottom: 0">Bring advanced stats & models to service changes</p>
          </div>
          <div class="panel-body">
            <p>DataScienceSF brings the power of advanced analytics and applied statistics to assist the work of the departments in changing services. It aims to help departments achieve more with their existing resources and processes. This service from DataSF is offered through a project solictation process.</p>
              <a class="btn btn-default btn-block" href="https://datasf.org/science/">Learn more and submit an application</a>
          </div>
          <div class="panel-heading panel-heading-secondary">
            <h5 class="panel-title">Learn More</h5>
          </div>
          <div class="panel-body">
            <ul>
              <li><a href="https://datasf.org/science/">More about DataScienceSF program and process</a></li>
              <li><a href="https://datasf.org/showcase/datascience/ ">Data science project showcase</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-sm-12">
          <h3 class="services__subtitle">Services for Everyone</h3>
      </div>
    </div>-->
  </div>
</section>
<section id="about" class="thinnest-section">
  <div class="container">
    <!--
    <div class="row">
      <div class="col-md-7">
        <h2>Our Mission</h2>
        <p>Our mission is to empower use of data. At DataSF, we seek to transform the way the City works through the use of data. We believe use of data and evidence can improve our operations and the services we provide. This ultimately leads to increased quality of life and work for San Francisco residents, employers, employees and visitors.</p>
        <h2 class="services__title">Our Vision</h2>
        <p>We are a data-driven City. Leadership and employees use data to continuously improve City services and operations. City staff has the support, skills and capacity to collect, manage, and use data effectively and efficiently. Our data is understood, documented and of high quality. Our data infrastructure provides data that is usable, timely, and accessible. Published data supports broad and unanticipated uses of City Data and supports trust, transparency and accountability. </p>
        <h2>How We Work</h2>       
        <ol>
<li><b>Say no to perfection and fail early and often.</b> Do not make perfect the enemy of good. Use small experiments and learn from failures.</li>
<li><b>Plan for the future and seek institutional homes.</b> Solve problems in a way that creates infrastructure for the future. Find a full-time home for what works.</li>
<li><b>Use long division.</b> If a problem seems too big, break it into manageable bits. There’s always a way to move something forward.</li>
<li><b>No ugly, old IT.</b> Use modern and lightweight tools. Make designs beautiful and inviting but also a little fun.</li>
<li><b>Use storytelling and data.</b> Find the people in the data and tell their story. Data without stories is just academic.</li>
<li><b>Put people, design and needs first (data and technology second).</b> Start with empathy and use design to guide our work.</li>
<li><b>Continuously learn and listen with humility.</b> Learn from ourselves and others and build on existing work. “Not invented here” attitudes prohibited.</li>
<li><b>Start with problems, move to opportunities.</b> Start with people's needs and problems and use the chance to demonstrate cool, new stuff for the future.</li>
<li><b>Be friendly and have fun.</b> Sometimes our work is tough. Take time to breathe, celebrate progress and recognize that we get to work on amazing problems.</li>
<li><b>If we don’t start now, we’ll never get there.</b> Don’t look back in five years and think “if we had just…”. Every shady street started with a row of saplings.</li>
</ol>
      </div>
      <div class="col-md-5 about-features">
        <div class="feature" style="background-image:url({{site.baseurl}}/assets/img/bar-chart.png);">
          <div class="feature-title">
            Track our progress
          </div>
          <a href="{{site.baseurl}}/progress"></a>
        </div>
        <div class="feature" style="background-image:url({{site.baseurl}}/assets/img/strategic-plan.png);">
          <div class="feature-title">
            Read our Strategic Plan
          </div>
          <a href="https://docs.google.com/document/d/1Rv5uEFlhAikted1CItjsmtbZhTPthTl0YcEDkNScdgI/edit?usp=sharing"></a>
        </div>
         <div class="feature" style="background-image:url({{site.baseurl}}/assets/img/track-progress.png);">
         <div class="feature-title">
            Track our plan milestones
          </div>
          <a href="https://docs.google.com/spreadsheets/d/1LKLhB5XGvbYBm00R2E1jRGWfqnx4xNDnOVDAItG9Cjs/edit?usp=sharing"></a>
        </div>
        <div class="quarterly-reports">
          <h2>Read our Quarterly Reports</h2>
          <ul>
            <li><a href="https://drive.google.com/open?id=0B6av1JsL3xAnZ3lJS0k3TURSOFE">All Reports</a></li>
          </ul>
        </div>
      </div>
    </div>
  -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="services__title" id="who-we-are">Who we are</h2>
        <p class="lead">This is the core team that work on DataSF programs, services and initiatives related to data sharing, data analytics and data science.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include bio.html person="blake_valenta" %}
      </div>
      <div class="col-md-6">
        {% include bio.html person="helen_mclendon" %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include bio.html person="tania_jogesh" %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="services__title">Who we are thankful for</h2>
        <p class="lead">These are the people that help us along the way.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="services__subtitle">Data Coordinators</h3> Our data coordinators are responsible for coordinating the implementation of the open data work in their departments. Without their department knowledge and help, SF OpenData would not be possible.
        <h3 class="services__subtitle">Department of Technology</h3>
        <p>The Department of Technology supports us in developing and maintaining data pipelines for open data sharing and as partners on data architecture and infrastructure. A special acknowledgement to SFGIS within the department. SFGIS staff have been long-standing partners and champions for open data, providing support and expertise on automating data pipelines among other things.</p>
        <h3 class="services__subtitle">Controller’s Citywide Services Auditor (CSA)</h3>
        <p>We’ve partnered with the performance team in CSA on a variety of projects, including the Data Academy, Stat program research, and internal data sharing.</p>
        <h3 class="services__subtitle">Previous DataSF Staff</h3>
        <p>The wonderful team members that shaped DataSF's work to date.</p>
        <ul>
          <li>Joy Bonaguro. The City's first Chief Data Officer. Established, grew and guided the team on its initial journey starting in 2014.</li>
          <li>Kimberly Hicks. Our first data scientist. Kim delivered our first major successes in our DataScienceSF program.</li>
          <li>Janine Heiser. Our first data engineer. She established the initial data infrastructure for making timely data available on the open data portal.</li>
          <li>Erica Finkle. Our privacy extraordinaire.  Erica laid the groundwork for the ShareSF inititative and is responsible for our Open Data Release toolkit.</li>
        </ul>
        <h3 class="services__subtitle">Awesome Interns</h3>
        <p>We’ve had the opportunity to work with some amazing people on a short term basis. Their efforts have been key to moving some of our projects forward.</p>
        <ul>
          <li>Charlie Moffett, Summer 2017.  Charlie did the foundation research for what became the Ethics and Algorithm toolkit.</li>
          <li>Sam Dorward, Fall 2015-Spring 2016. Sam joined us as part of an externship through Bain Consulting and knocked it out of the park conducting analytics work on tax compliance, fire inspections and evictions and created Advanced Excel for Data Academy.</li>
          <li>Christina Malamut, Summer 2015. Christina joined us to help us research what it would take to improve public records requests in San Francisco, individual access to private data, and data about homelessness.</li>
          <li>Laura Gerhardt, Spring 2015. Laura joined us as part of completing her Master’s in Public Policy at UC Berkeley. She researched and assessed how to best realize the value in housing inspections data across three City departments.</li>
          <li>Charlotte Hill, Dan Wilcox, Evgenia Likhovtseva, and Marcelo Milanello, Spring 2015. As part of a client class project, this graduate team at UC Berkeley investigated options for data or technology partnerships with external groups.</li>
          <li>Erica Finkle, Summer 2014. Erica joined us in Summer 2014 and provided the core research and basis for our project on streamlined internal data sharing. In a few short weeks, she reviewed and summarized the privacy laws facing SF, reviewed best practices in other jurisdictions, and provided a set of recommendations. Her work was put to immediate use and accelerated our learning curve.</li>
          <li>Peri Weisberg, Summer 2014. Peri joined us in Summer 2014 and hit the ground running by informing the data categories on SF OpenData, helping us identify the best data licensing approach, and surveying metadata practices. Her core project was
            creating an evaluation framework for our open data program - something that had not been created to date. Most of her work is available on our resources page.</li>
        </ul>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-md-12">
        <h3 class="services__subtitle">Open Data Support, Enterprise SFGIS</h3>
        <p>Our open data program relies on the timely automation and publication of data. The Enterprise SFGIS team is a key partner in making this work.</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          {% include bio.html person="jeff_johnson" %}
        </div>
        <div class="col-md-6">
          {% include bio.html person="sam_valdez" %}
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include bio.html person="brian_quinn" %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="services__subtitle">DataSF Alum</h3>
        <p>DataSF team members who have gone on to great things and left behind a legacy!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include bio.html person="joy_bonaguro" %}
      </div>
      <div class="col-md-6">
        {% include bio.html person="erica_finkle" %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include bio.html person="janine_heiser" %}
      </div>
      <div class="col-md-6">
        {% include bio.html person="kimberly_hicks" %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="services__subtitle">Data Coordinators</h3> Our data coordinators are responsible for coordinating the implementation of the open data work in their departments. Without their department knowledge and help, SF OpenData would not be possible.
        <h3 class="services__subtitle">Controller’s Citywide Services Auditor (CSA)</h3>
        <p>We’ve partnered with the performance team in CSA on a variety of projects, including the Data Academy, Stat program research, and internal data sharing. Big shoutouts go to:</p>
        <ul>
          <li>Sherman Luk, Jessie Rubin and Sam Abbott for developing and managing Data Academy</li>
          <li>Jessie Rubin and Andrew Ju for their excellent research and work on best practices in performance management and “Stat” programs</li>
          <li>Kyle Patterson, Laura Marshall, Kyra Sikora and Luke Feller for their amazing research, convening and strategy work to promote effective internal data sharing through ShareSF</li>
        </ul>
        <h3 class="services__subtitle">Awesome Interns</h3>
        <p>We’ve had the opportunity to work with some amazing people on a short term basis. Their efforts have been key to moving some of our projects forward.</p>
        <ul>
          <li>Sam Dorward, Fall 2015-Spring 2016. Sam joined us as part of an externship through Bain Consulting and knocked it out of the park conducting analytics work on tax compliance, fire inspections and evictions and created Advanced Excel for Data Academy.</li>
          <li>Christina Malamut, Summer 2015. Christina joined us to help us research what it would take to improve public records requests in San Francisco, individual access to private data, and data about homelessness.</li>
          <li>Laura Gerhardt, Spring 2015. Laura joined us as part of completing her Master’s in Public Policy at UC Berkeley. She researched and assessed how to best realize the value in housing inspections data across three City departments.</li>
          <li>Charlotte Hill, Dan Wilcox, Evgenia Likhovtseva, and Marcelo Milanello, Spring 2015. As part of a client class project, this graduate team at UC Berkeley investigated options for data or technology partnerships with external groups.</li>
          <li>Erica Finkle, Summer 2014. Erica joined us in Summer 2014 and provided the core research and basis for our project on streamlined internal data sharing. In a few short weeks, she reviewed and summarized the privacy laws facing SF, reviewed best practices in other jurisdictions, and provided a set of recommendations. Her work was put to immediate use and accelerated our learning curve.</li>
          <li>Peri Weisberg, Summer 2014. Peri joined us in Summer 2014 and hit the ground running by informing the data categories on SF OpenData, helping us identify the best data licensing approach, and surveying metadata practices. Her core project was
            creating an evaluation framework for our open data program - something that had not been created to date. Most of her work is available on our resources page.</li>
        </ul>
      </div>
    </div>
  -->

    <!--
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        -->
  </div>
</section>

