<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          {% for network in site.social %}
          <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">

        </ul>
      </div>
    </div>
  </div>
  <div class="text-center made-in">
      Made with <i class="fa fa-heart"><span class="sr-only">heart</span></i> in San Francisco
    </div>
</footer>