<!-- Navigation -->
<div class="nav-group navbar-fixed-top {% if page.is_front != true %} navbar-shrink {% endif %}">
  <nav class="navbar navbar-mini navbar-static-top visible-sm visible-md visible-lg" role="region" aria-label="external links">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-2">
        <ul class="nav navbar-nav navbar-right">
          {% for link in site.data.navigation.utility %} {% assign current = nil %} {% if page.dir == link.url %} {% assign current = 'active' %} {% endif %}
          <li class="{{current}}">
            <a class="{{ current }} {% if link.class %} {{link.class}} {% endif %}" href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="{{site.baseurl}}/"><span class="brand"><span class="brand-highlight">Data</span>SF</span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          {% for link in site.data.navigation.new_nav %} {% assign current = nil %} {% if page.dir == link.url %} {% assign current = 'active' %} {% endif %}
          <li class="{{current}}">
            <a class="{{ current }} {% if link.class %} {{link.class}} {% endif %}" href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
          {% for link in site.data.navigation.utility %} {% assign current = nil %} {% if page.dir == link.url %} {% assign current = 'active' %} {% endif %}
          <li class="{{current}} visible-xs utility-nav">
            <a class="{{ current }} {% if link.class %} {{link.class}} {% endif %}" href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</div>