<div class="nav-group navbar-fixed-top {% if page.is_front != true %} navbar-shrink {% endif %}">
  <div class="navbar navbar-mini navbar-static-top visible-sm visible-md visible-lg" role="region" aria-label="external links">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbar-collapse-2">
        <ul class="nav navbar-nav navbar-right">
          {% for link in site.data.navigation.utility %} {% assign current = nil %} {% if page.url == link.url or page.layout == link.layout %} {% assign current = 'active' %} {% endif %}
          <li class="{{current}}">
            <a class="{{ current }} {% if link.class %} {{link.class}} {% endif %}" href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="{{site.baseurl}}/"><span class="brand"><span class="brand-highlight">Data</span>SF</span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% for link in site.data.navigation.main_nav %} {% assign current = nil %} {% if page.url == link.url or page.layout == link.layout or (page.index == link.index and page.index != null) %} {% assign current = 'active' %} {% assign index = link.index %} {% endif %}
          <li class="{{current}}">
            <a class="{{ current }} {% if link.class %} {{link.class}} {% endif %}" href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
          {% for link in site.data.navigation.utility %} {% assign current = nil %} {% if page.url == link.url or page.layout == link.layout %} {% assign current = 'active' %} {% endif %}
          <script>
          </script>
          <li class="{{current}} visible-xs utility-nav">
            <a class="{{ current }} {% if link.class %} {{link.class}} {% endif %}" href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  {% if index %}
  <div class="navbar navbar-subnav navbar-static-top visible-sm visible-md visible-lg" role="region" aria-label="external links">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbar-collapse-3">
        <ul class="nav navbar-nav navbar-left">
          {% for link in site.data.navigation[index] %} {% assign current = nil %} {% if page.url == link.url or page.layout == link.layout %} {% assign current = 'active' %} {% endif %}
          <li class="{{current}}">
            <a class="{{ current }} {% if link.class %} {{link.class}} {% endif %}" href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
          {% if index == "catalog" %}
          <li class="divider">
            <div style="border-left: thin solid #333333; height: 100%; width: 10px; height: 35px; margin: 2px"></div>
          </li>
          <li>
            <div style="margin-top: 5px; margin-right: 5px;">
              <i class="fa fa-2x fa-search" aria-hidden="true" style="color:#333333;"></i>
            </div>
          </li>
           <li class="divider">
            <div style="border-left: thin solid #333333; height: 100%; width: 10px; height: 35px; margin: 2px"></div>
          </li>
          <li class="sign-in">
            <a href="https://data.sfgov.org/sign_in" class='btn btn-sign-in'>Sign In</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
</div>