<!-- Header -->

<header id="header">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">connecting you to the City's data</div>
    </div>
    <div class="row featured-panels">
      <div class="col-md-4">
        <a href="https://data.sfgov.org" class="ext-sf-opendata">
          <div class="panel panel-featured">
            <div class="panel-body">
              <h1>Need data?</h1>
              <i class="fa fa-bar-chart fa-5x"></i>
              <p>Browse our data catalog</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/resources">
          <div class="panel panel-featured">
            <div class="panel-body">
              <h1>Find resources</h1>
              <i class="fa fa-search fa-5x"></i>
              <p>In our resource library</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://housing.datasf.org">
          <div class="panel panel-featured">
            <div class="panel-body">
              <h1>Visit</h1>
              <i class="fa fa-home fa-5x"></i>
              <p>the Housing Data Hub</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="attribution">By Basil D Soufi (Own work) [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a href="http://commons.wikimedia.org/wiki/File%3ASan_Francisco_(Sunset).jpg">via Wikimedia Commons</a></div>
  </div>
</header>