  <!-- jQuery Version 1.11.3 -->
<script src="{{ "/assets/js/vendor/jquery-1.11.3.min.js" | prepend: site.baseurl }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/vendor/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/assets/js/vendor/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/jquery.validate.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/DataTables-1.10.7/media/js/jquery.dataTables.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/DataTables-1.10.7/Plugins-1.10.7/integration/bootstrap/3/dataTables.bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/jsrender.min.js" | prepend: site.baseurl }}"></script>
{% if page.toc %}
<script src="{{ "/assets/js/vendor/toc.js" | prepend: site.baseurl }}"></script>
{% endif %}

{% if page.is_front %}
<script src="{{ "/assets/js/vendor/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
{% endif %}

<script src="{{ "/assets/js/vendor/c3.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/moment.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/selectize.min.js" | prepend: site.baseurl }}"></script>

<!-- utilities -->
<script src="{{site.baseurl}}/assets/js/vendor/toTitleCase.js"></script>

<!-- Custom site JavaScript -->
<script src="{{ "/assets/js/datasf.js" | prepend: site.baseurl }}"></script>
{% if page.js %}
<!-- Custom page JS -->
<script src="{{ "/assets/js/" | prepend: site.baseurl | append: page.js }}"></script>
{% endif %}
