---
layout: masthead
title: DataSF Speaks
background_image_path: /uploads/blog.jpg
icon: bullhorn
blurb: Our Blog has moved to Medium - <a href="https://medium.com/@datasf">click here to check it out</a>.
---
<!-- Stories List Section -->
<section id="stories" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {%include stories-iterator.html posts=paginator.posts%}
        <!-- Pagination links -->
        {% if paginator.total_pages > 1 %}
        <nav class="text-center">
        <ul class="pagination">
          {% if paginator.previous_page %}
          <li>
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html',''}}" aria-label="Previous">&laquo; Prev</a> </li>
          {% else %}
          <li class="disabled"><span>&laquo; Prev</span></li>{% endif %}
          {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
          <li class="active"><span><em>{{ page }}</em></span></li> {% elsif page == 1 %}
          <li><a href="{{ '/blog' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>{% else %}
          <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li> {% endif %} {% endfor %} {% if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li> {% else %}
          <li class="disabled"><span>Next &raquo;</span></li> {% endif %}
        </ul>
      </nav>
        {% endif %}
      </div>
      <div class="col-md-4 sidebar">
        <a class="twitter-timeline" href="https://twitter.com/DataSF" data-widget-id="559899210959421440">Tweets by @DataSF</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        {% include mailchimp-newsletter.html %}
      </div>
    </div>
  </div>
</section>