--- 
layout: default 
---
<div id="main" role="main" class="blog-post">
  <div class="container">
    {% include breadcrumbs.html %}
    <article class="wrap" itemscope itemtype="http://schema.org/Article">
      <!-- include breadcrumbs.html -->
      <div class="row">
        <div class="col-md-8">
          <div class="page-title">
            <h1>{{ page.title }}</h1>
          </div>
          {% if page.image.feature %}
          <div class="page-feature">
            <div class="page-image">
              <figure>
              <img src="{{ site.baseurl }}/assets/blog/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.image.caption }}" itemprop="image"> {% if page.image.credit %}{% include image-credit.html %}{% endif %}
              {% if page.image.caption %}
              <figcaption>{{page.image.caption}}
              {%if page.image.source.title.size %} <br>Source: "<a rel="nofollow" class="external text" href="{{page.image.source.source_link}}">{{page.image.source.title}}</a>" by <a rel="nofollow" class="external text" href="{{page.image.source.author_link}}">{{page.image.source.author}}</a> is licensed under <a rel="nofollow" class="external text" href="{{page.image.source.license_link}}">{{page.image.source.license}}</a> 
              {% endif %}</figcaption>
              {% endif %}
              </figure>
            </div>
            <!-- /.page-image -->
          </div>
          <!-- /.page-feature -->
          {% endif %}
          <nav class="toc"></nav>
          <!-- /.toc -->
          <div id="content" class="page-content" itemprop="articleBody">
            {{ content }}
            <hr />
            <div class="page-footer">

            </div>
            <!-- /.footer -->
            <aside>
              {% if page.comments == true %}
              <!-- include comments.html -->
              {% endif %}
            </aside>
          </div>
          <!-- /.content -->
        </div>
        <div class="col-md-4 sidebar">
          <aside>
            {% if page.categories %}{% include page-author.html %}{% endif %} {% include page-meta.html %} {% if page.share != false %}{% include share-this.html %}{% endif %} {% include stories-sidebar.html %}
          </aside>
          {% include mailchimp-newsletter.html %}
        </div>
      </div>
      <!-- /.inner-wrap -->
    </article>
    <!-- Edit current page -->
    <!--
  <a href="{% if page.path %}https://github.com/login/oauth/authorize?client_id=c602a8bd54b1e774f864&scope=repo&redirect_uri=http://prose.io/#datasf/datasf-website/edit/master/{{ page.path }}{% else %}//prose.io/#datasf/datasf-website{% endif %}" target="_blank">Edit this page in Prose.io</a>-->

    <!-- Add post -->
    <!--
  <a href="//prose.io/#zzolo/zzolo.github.com/new/master/_posts" target="_blank">Add a post with Prose.io</a>-->

  </div>
  <!-- ./wrap -->
</div>
<!-- /#main -->