--- 
layout: default 
---
<div id="main" role="main" class="blog-post">
  <div class="container">
    {% include breadcrumbs.html %}
    <article class="wrap" itemscope itemtype="http://schema.org/Article">
      <!-- include breadcrumbs.html -->
      <div class="row">
        <div class="col-md-8">
          <div class="page-title">
            <h1>{{ page.title }}</h1>
          </div>
          {% if page.image.feature %}
          <div class="page-feature">
            <div class="page-image">
              <figure>
              <img src="{{ site.baseurl }}/assets/blog/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.image.caption }}" itemprop="image"> {% if page.image.credit %}{% include image-credit.html %}{% endif %}
              {% if page.image.caption %}
              <figcaption>{{page.image.caption}}
              {%if page.image.source.title.size %} <br>Source: "<a rel="nofollow" class="external text" href="{{page.image.source.source_link}}">{{page.image.source.title}}</a>" by