---
layout: default
---
<section id="article">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-heading-wrapper">
        <h1 class="section-heading bg-line">{{page.title}}</h1> {%if page.subtitle %}
        <p class="section-subheading">{{page.subtitle}}</p>{% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-push-8 sidebar">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Course Details</div>
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item">Length: {{page.length}} hours</li>
            <li class="list-group-item">Price: Free! (Requires RSVP. Only available to City & County of San Francisco employees with supervisor approval)</li>
            <li class="list-group-item">Subject(s):  {% for subject in page.subject %}{{subject}} {%endfor%}</li>
            <li class="list-group-item">Level: {{course.level}}</li>
            <li class="list-group-item">Course Materials: Available on the course materials page</li>
          </ul>
        </div>
      </div>
      <article class="wrap article" itemscope itemtype="http://schema.org/Article">
        <div class="col-md-8 col-md-pull-4 editable"><h2 id="about-this-course">About this course</h2><p>This classroom based workshop is the fourth in a series of workshops on Excel offered by the Data Academy. It provides the Data Academy&rsquo;s most advanced level of Excel training.</p><p>We encourage experienced Excel users to register for this fast-paced course.</p><h2 id="what-youll-learn">What you&rsquo;ll learn</h2><ul><li>Automation tools<ul><li>Recording and using macros</li></ul></li><li>Analysis tools:<ul><li>Statistical tests using the analysis toolpak</li><li>What-if analysis</li><li>PowerPivot</li></ul></li><li>Auditing tools<ul><li>Formula auditing</li><li>Precedents/dependents</li><li>Conditional formatting</li></ul></li></ul></div>
      </article>
    </div>
  </div>
  
</section>