<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

		<!--[if lt IE 9 ]>
   <body id="page-top" class="index {% if page.is_front != true %} not-front {% endif %} ie8">
		<![endif]-->
	<!--[if (gte IE 9)|!(IE)]>-->
   <body id="page-top" class="index {% if page.is_front != true %} not-front {% endif %}">
    <div id="feedback">
      <a href="https://docs.google.com/forms/d/1RAd0dcqpWsva0vkSL2IzljTfn4QepnnR09SwlRuK2Vg/viewform?usp=send_form" target="_blank">take our survey</a>
    </div>
	<!--<![endif]-->
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>