<!DOCTYPE html>
<html lang="en">

  {% include structure/head.html %}
  
   <body {%if page.subnav%} class="has-subnav" {% endif %}>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXHF2FN"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include structure/header.html %}
    {{ content }}
    {% include structure/footer.html %}
    {% include structure/js.html %}
    </body>
</html>
