---
layout: default
---

<div class="container" style="padding-top: 20px;">
    <div class='row'>
      <div class='col-sm-12 col-md-8'>
        <div class="page-title">
          <h1 style="margin-top:0">{{ page.title }}</h1>
          <p class='lead'>
            {% if page.alumni == true %}
            {% assign instructor_type = "Alum" %}
            Meet our Data Academy instructor alumni.
            {% else %}
            {% assign instructor_type = "Yes" %}
            Meet the crew that brings you Data Academy training throughout the year. 
            {% endif %}
            <a href='https://docs.google.com/forms/d/e/1FAIpQLSeuTxCVktX2_2nd1SGOq3uv4JvTuzf1PJtKlwCJi0ua9BEVaw/viewform?mc_cid=cd798083d0&mc_eid=8f097953d9'>Interested in becoming an instructor? Let us know.</a>
            {% if page.alumni == true %} <a href='{{site.baseurl}}/academy/instructors'>See our current instructors.</a> 
            {% else %} <a href='{{site.baseurl}}/academy/instructors/alumni'>See our alumni instructors.</a> 
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    {% assign instructors = site.team_members | where:"instructor",instructor_type %}
    {% for instructor in instructors %}
    {% assign rowfinder = forloop.index | modulo: 3 %}
    {% if rowfinder == 1 %}
    <div class='row'>
    {% endif %}
    <div class="col-sm-4">
      <div style='margin-top: 20px; position: relative;'>
        <div style='max-height: 360px; overflow: hidden;'>
          <img src='{{instructor.headshot_image_path}}' alt='Headshot of instructor' class='img-responsive' />
        </div>
        <h2>{{ instructor.name }}</h2>
        <p>{{ instructor.work_title }} </p>
        <div class='instructor-bio'>
          {{ instructor.content }}
        </div>
        <div class='read-more-button' aria-hidden='true' style='text-decoration: underline; cursor: pointer; position: absolute; bottom: 0; right: 0; left: 0; text-align: center; background: rgba(256,256,256,.8)'>
          Show More
        </div>
      </div>
    </div>
    {% if rowfinder == 0 or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
  </div>